# Django
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Paymenku
PAYMENKU_BASE_URL=https://paymenku.com/api/v1
PAYMENKU_API_KEY=your_sandbox_api_key_here

# Webhook
PAYMENKU_WEBHOOK_URL=/api/v1/webhook/paymenku

# App
ENVIRONMENT=development